:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.menuDesplegable {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  width: 40%;
}
.labelMenu {
  display: block;
  align-items: center;
}
.textMenu {
  display: inline-block;
  margin-right: 10px;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: orange;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.button:active {
  transform: translateY(2px);
}

.infoButton {
  border-radius: 20px;
  background-color: #EEEEEE;
}
